.Sidebar {
  background: center / cover no-repeat url(../../resources/img/sidebar.png);
  width: 27.778vw;
  height: 90vh;
  border-left: 0.347vw solid #757575;
  padding: 2.083vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  .check {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 6.944vw;
  }
  h2 {
    font-size: 2.1vw;
    margin-bottom: 0.694vw;
    cursor: default;
    @media (max-width: 426px) {
      margin-bottom: 2.353vw;
    }
  }
  .btn-option {
    font-size: 1.736vw;
    border: 1px solid #fff;
    border-radius: 2.778vw;
    height: 3.125vw;   
    margin-bottom: 1.181vw;
    color: #fff;
    outline: none;
    background: none;

    @media (max-width: 426px) {
      font-size: 2.824vw;
      height: 7.059vw;
      margin-bottom: 2.824vw;
    }
  }
  .btn-option:hover {
    background-color: #681516;
    transition: .3s;
    transform: scaleX(1.05);
    box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
    cursor: pointer;
  }
  .play-btn {
    display: flex;
    justify-content: center;
    margin-top: 3.1vw;
    button {
      padding: 0;
      height: 3.5vw;
      border: 1px solid #000;
      background: #fff;
      outline: none;
      width: 3.5vw;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media (max-width: 426px) {
        width: 5.882vw;
        height: 5.882vw;
      }

      img {
        width: 1.042vw;
        @media (max-width: 426px) {
          width: 2.353vw;
        }
      }
    }
    button:not(:last-child) {
      margin-right: 0.694vw;
      @media (max-width: 426px) {
        margin-right: 1.176vw;
      }
    }
    button:disabled {
      background: #846969;
    }
    button:hover {
      transition: .3s;
      transform: scaleX(1.05);
      box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
    }
  }
}