.Navbar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: center / contain url(../../resources/img/navbar.jpg);
  height: 10vh;
  border-bottom: 0.347vw solid #757575;
  color: #f5f5f5;
  box-shadow: inset -1px 0px 17px 0px rgba(50, 50, 50, 0.75);

  h1 {
    cursor: default;
  }
  div {
    display: flex;

    img, .info {
      width: 2.083vw;
      height: 2.083vw;

      @media (max-width: 426px) {
        width: 4.706vw;
        height: 4.706vw;
      }
    }
    img:hover, .info:hover {
      transition: .3s ease-in-out;
      transform: scale(1.1);
      box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
      background-color: #ffffff38;
    }
    .info {
      color: #a5a5a5;
      border: 0.208vw solid #a5a5a5;
      border-radius: 50%;
      margin-right: 1.389vw;
      padding: 0.16vw 0.417vw;
      font-weight: 800;
      font-size: 1.1vw;
      @media (max-width: 426px) {
        border: 1px solid #a5a5a5;
        padding: 0.471vw 0.941vw;
        font-size: 3.059vw;
      }
    }
  }
}
