.About {
  width: 100vw;
  height: 100vh;
  background: center / cover no-repeat url(../../resources/img/main.jpg);
  padding: 2.083vw;
  text-align: center;
  @media (max-width: 426px) {
    padding: 7.059vw;
  }
  p {
    font-size: 1.736vw;
    padding-top: 2.083vw;
    @media (max-width: 426px) {
      font-size: 3.765vw;
      padding-top: 7.059vw;
    }
  }
  .social-link {
    text-decoration: underline;
    color: #fff;
  }
}