.FooterTable {
  width: 72.222vw;
  height: 30%;
  border-top: 0.347vw solid #757575;
  position: absolute;
  bottom: 0;
  box-shadow: inset -1px 0px 17px 0px rgba(50, 50, 50, 0.75);
  overflow-y: scroll;
  .table {
    width: 100%;
    border-collapse: collapse; 
    tr {
      text-align: center;
      font-size: 1.389vw;

      @media (max-width: 426px) {
        font-size: 2.824vw;
      }
    }
    th {
      color: #e4e4e4;
      vertical-align: bottom;
      height: 2.083vw; 
    }
    th, td {
      border-bottom: 1px solid #b9b7b7;
      border-right: 1px solid #b9b7b7;
      width: 70%;
      padding-top: 0.347vw;

      @media (max-width: 426px) {
        padding-top: 1.176vw;
      }
    }
  }
}