@import './resources/fonts/fonts';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Gayathri', 'LexendPeta', sans-serif;
  color: #fff;
}
h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-wrap: no-wrap;
}
.title {
  color: #fff;
  font-size: 3.125vw;
  font-family: 'LexendPeta';
  text-shadow: 3px 1px 0px rgba(150, 150, 150, 1);
}