// @import './variables';
// @import './fonts/fonts';

* {
  box-sizing: border-box;
}

html {
// font-size: $font-size;
// font-family: 'Kiona-Regular', 'Callstories', 'Roboto', 'Roboto-Italic', sans-serif;
color: #fff;
}
h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

body {
  // background-color: $bg;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-wrap: wrap;
}
